*,
*::before,
*::after {
    box-sizing: border-box;

}

:root {
    --clr-arrow: white;
    --deg-arrow-all: 80deg;
    --deg-arrow-all-mini: 120deg;
    --deg-arrow-before: -10deg;
    --deg-arrow-after: 30deg;
}

@font-face {
    font-family: 'Montserrat';
    /* src: local('MyFont'), url('../assets/fonts/Amelian.woff') format('woff'); */
    src: url('../assets/fonts/Montserrat-Bold.eot');
    src: url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
        url('../assets/fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../assets/fonts/Montserrat-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    /* src: local('MyFont'), url('../assets/fonts/Amelian.woff') format('woff'); */
    src: url('../assets/fonts/NotoSans-Regular.eot');
    src: url('../assets/fonts/NotoSans-Regular.woff') format('woff'),
        url('../assets/fonts/NotoSans-Regular.ttf') format('truetype'),
        url('../assets/fonts/NotoSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    /* src: local('MyFont'), url('../assets/fonts/Amelian.woff') format('woff'); */
    src: url('../assets/fonts/NotoSans-Bold.eot');
    src: url('../assets/fonts/NotoSans-Bold.woff') format('woff'),
        url('../assets/fonts/NotoSans-Bold.ttf') format('truetype'),
        url('../assets/fonts/NotoSans-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Medium.eot');
    src: url('../assets/fonts/Roboto-Medium.woff') format('woff'),
        url('../assets/fonts/Roboto-Medium.ttf') format('truetype'),
        url('../assets/fonts/Roboto-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Bold.eot');
    src: url('../assets/fonts/Roboto-Bold.woff') format('woff'),
        url('../assets/fonts/Roboto-Bold.ttf') format('truetype'),
        url('../assets/fonts/Roboto-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/AvenirLTStd-Roman.eot');
    src: url('../assets/fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('../assets/fonts/AvenirLTStd-Roman.ttf') format('truetype'),
        url('../assets/fonts/AvenirLTStd-Roman.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/AvenirLTStd-Black.eot');
    src: url('../assets/fonts/AvenirLTStd-Black.woff') format('woff'),
        url('../assets/fonts/AvenirLTStd-Black.ttf') format('truetype'),
        url('../assets/fonts/AvenirLTStd-Black.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'Noto Sans';
    background-color: black;
    color: white;
    margin: 0;
}

a,
a:link {
    color: white;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.2rem;
}

h2 {
    font-size: 1.25rem;
}

p {
    font-family: 'Noto Sans';
    font-size: 1.125rem;
    font-weight: 400;
}

.main {
    overflow: hidden;
}

.hello {
    width: 100%;
    height: 900px;
    position: relative;
}

@media (max-width: 700px) {
    .hello {
        height: 600px;
    }
}

.hello__wrap {
    width: 60%;
    height: 892px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media (max-width: 700px) {
    .hello__wrap {
        width: 100%;
        height: 600px;
    }
}


/* **** nav section start */
nav {
    margin-left: 85px;
    margin-top: 23px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: start;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__imlogo {
    margin-right: 14px;
    height: 70px;

}

.nav__txtlogo {
    display: block;
    margin-right: 6.25rem;
    height: 1.25rem;
}

.nav__login {
    display: flex;
    align-items: center;
}

.nav__human {
    margin-right: 0.87rem;
    height: 1.5rem;
}

.nav__loginlink {
    height: 2rem;
    border-bottom: 1px solid white;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;

}

@media (max-width: 700px) {

    nav {
        margin-left: inherit;
        margin-top: inherit;
        margin: 15px;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: space-between;
        display: flex;
    }

    .nav__human {
        display: none;
    }

    .nav__login {
        margin-right: 14px;
    }

    .nav__loginlink {
        height: 2em;
        font-size: 24px;
        margin-right: 0;

    }

    .nav__loginlink {
        height: 1.75em;
        font-size: 24px;
        text-decoration: none;

    }
}

/* **** nav section End */

/* ****hello__slogan start**** */
.hello__slogan {
    margin-top: 140px;
    margin-left: 100px;
    font-family: 'Montserrat';
    font-size: 4rem;
    width: 645px;
    align-items: flex-end;
}

@media (max-width: 700px) {
    .hello__slogan {
        margin-top: 100px;
        margin-left: 15px;
        font-size: 2rem;
        width: 207px;
    }
}

/* ****hello__slogan end**** */


/* ****magicbox Start**** */
.hello__magicbox {
    margin-top: 100px;
    margin-left: 93px;
    justify-content: start;
    display: flex;

}

.__wrap--magic {
    position: relative;
    background-color: rgb(61, 35, 35);
}

.__magic--glow,
.__magic--stick {
    position: absolute;
}

.__magic--glow {
    height: 125px;
    width: 125px;
    background: rgba(96, 92, 234, 0.8);
    filter: blur(100px);
}

.__magic--stick {
    width: 100px;
    height: 4px;
    background-color: #fff;
    transform: rotate(120.61deg);
    top: 60px;
    left: 10px;
}

.__magic_txt {
    width: 360px;
    margin-bottom: 1.25rem;
    margin-left: 7.5rem;
    display: block;
    font-size: 1.25rem;
}

@media (max-width: 700px) {
    .hello__magicbox {
        margin-top: 24px;
        margin-left: 15px;
        justify-content: start;
        display: flex;

    }

    .__magic--glow {
        height: 74px;
        width: 74px;
        margin-left: 0;
        background: rgba(96, 92, 234, 0.5);
        filter: blur(100px);
    }

    .__magic--stick {
        display: none;
    }

    .__magic_txt {
        width: 70%;
        margin-bottom: 20px;
        margin-left: 0px;
        font-size: 20px;
    }
}

/* ****magicbox End **** */


/* Collage Start */
.hello__collage--cloud {
    position: absolute;
    width: 662.63px;
    height: 783.03px;
    left: 58%;
    top: -7%;

    background: rgba(250, 0, 255, 0.2);
    filter: blur(250px);
    transform: rotate(-105.26deg);
    z-index: -3;
}

.hello__collage--rectangle {
    position: absolute;
    width: 307.77px;
    height: 631.35px;
    left: 62%;
    top: 159.6px;

    background: #0000;
    opacity: 0;
    filter: blur(71.6833px);
    z-index: -2;
    border: 1px dotted white;

}

.hello__collage--phone {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 57%;
    top: 150px;
    background-image: url('../assets/images/011_hello_phone.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

@media (max-width: 700px) {
    .hello__collage--cloud {
        position: absolute;
        width: 363.95px;
        height: 430.08px;
        left: inherit;
        right: -20%;
        top: 0;

        background: rgba(250, 0, 255, 0.5);
        filter: blur(250px);
        transform: rotate(-90.69deg);
    }

    .hello__collage--rectangle {
        display: none;
    }

    .hello__collage--phone {
        position: absolute;
        width: 350px;
        height: 700px;
        left: inherit;
        right: -190px;
        top: 10%;
        background-image: url('../assets/images/011_hello_phone.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
    }

}

/* Collage End */

/* *****Download App Start***** */
.download_app__wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.download_app--title {
    font-family: 'Montserrat';
    font-size: 2.2rem;
    margin-left: 100px;
}

.download_app--media {
    margin-right: 163px;
}

@media (max-width: 700px) {
    .download_app__wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;

    }

    .download_app--title {
        font-size: 1.5rem;
        width: 290px;
        margin: auto;
    }

    .download_app--media {
        width: 185px;
        margin: auto;
    }
}

/* *****Download App End***** */

.hello__loadTxt {
    display: block;
    font-family: 'Montserrat';
    font-size: 2.2rem;

}

.sectionA2__pict {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}

.sectionA2__pict--phone {
    display: block;
    /* padding: auto; */
    margin-top: -1.25rem;
    width: 611px;
    height: 957px;
}

.sectionA2__pict--media {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    display: flex;
    justify-self: center;
}

.r-media__item {
    width: 185px;
    height: 52px;
    padding: 8px;
    border-color: #fff;
    border: solid 2px;
    border-radius: 6px;

}

.r-media__item:first-child {
    margin-right: 28px;
}

.r-media__item:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .hello__loadTxt {
        grid-column: 2 / -1;
        grid-row: 5 / 6;
        display: block;
        text-align: center;
        font-size: 24px;
    }

    .sectionA2__pict--media {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        display: flex;
        flex-direction: column;
    }

    .r-media__item {
        margin: 20px;
    }

    .sectionA2__pict {
        grid-column: 3 / 4;
        grid-row: 2 / 5;
        float: left;
        position: relative;
        /* background-color: rgb(70, 34, 34); */
    }

    .sectionA2__pict--phone {

        position: relative;
        top: 30px;
        left: -40px;
        width: calc(611px/2);
        height: calc(957px/2);
    }

    .sectionA2__pict--media {
        grid-column: 1 / -1;
        grid-row: 6 / 7;
        display: flex;
    }
}

/* End the first section */

/* *******start Cookie info************ */

.cookie-block {
    /* margin-top: 35px; */
    height: 93px;
    width: 100%;
    background-color: #212834;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: -100px;
    opacity: 0;
    z-index: 100;

}

.cookie-block__txt {
    display: block;
    width: 620px;
    font-size: 14px;
}

.cookie-block__btn {
    width: 92px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
    color: white;
    font-size: 14px;
}

.cookie-block__btn:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .cookie-block {
        height: 93px;
        padding: 1rem;
    }

    .cookie-block__btn {
        width: 93px;
        height: 50px;
    }

    .cookie-block__txt {
        width: 200px;
        font-size: 0.75rem;

    }
}

/* End Cookie info */

/* *******Start ask panel************* */
/*     <div class="quest_block">
        <div class="--ask__panel1">
            <span class="--ask__panel1--txt">Would like to become
                a member, please contact us</span>
            <email class="quest_block__new-memeber--mail">support@notab.com</email>
        </div>
        <div class="--ask__panel1ask__panel2">
            <span class="quest_block__partner--txt">Already a partner? </span>
            <a href="#" class="quest_block__partner--login">Login</a>
        </div>
    </div> */
.quest_block {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.quest_block__new-memeber,
.quest_block__partner {
    width: 503px;
    height: 312px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 22px;
    display: flex;
    font-family: 'Noto Sans';
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    padding: 2em;

}

.quest_block__new-memeber--head,
.quest_block__partner--txt {
    display: block;
    width: 100%;
    font-size: 30px;
    margin-bottom: 1em;
}

@media (max-width: 700px) {
    .quest_block {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 15px;
    }

    .quest_block__new-memeber--head,
    .quest_block__partner--txt {
        display: block;
        /* width: 100%; */
        font-size: 1.5rem;
    }

    .quest_block__new-memeber,
    .quest_block__partner {
        width: 100%;
        margin: 27px;
        font-size: 1.125rem;
    }

    .quest_block__new-memeber {
        height: 233px;
    }

    .quest_block__partner {
        height: 167px;
    }
}

/* **********#018 Vision section *************** */
.vision {
    width: 100%;
    height: 1000px;
    /* display: flex; */
    position: relative;
    flex-direction: row;
    justify-content: left;
}

.vision_picture {
    width: 500px;
    height: 999px;
    position: absolute;
    left: -12%;
    background: url("../assets/images/page1_phone.png")center no-repeat;
    background-position: 0 0;
    background-size: contain;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.vision__article {
    width: 503px;
    /* height: 312px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: -8rem; */
    padding: 2em;
    position: absolute;
    top: 350px;
    right: 0;
}

.vision__article--head {
    font-family: 'Montserrat';
    font-size: 3.2rem;
    max-width: 358px;
}

.vision__article--txt {
    font-family: 'Noto Sans';
    font-size: 1.3rem;
    max-width: 375px;
    line-height: 1.53rem;
    margin-top: 1.5rem;
}

.vision__glow {
    position: absolute;
    height: 85px;
    width: 85px;
    left: 77%;
    top: 30%;
    background: #F101BF;
    opacity: 0.6;
    filter: blur(60px);

}

@media (max-width: 700px) {
    .vision {
        width: 100%;
        height: 760px;
        /*         display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center; */
        position: relative;
    }

    .vision__article {
        width: 100%;
        margin-top: 0;
        margin-left: 15px;
        position: absolute;
        top: inherit;
    }

    .vision__article--head {
        font-size: 24px;
        line-height: 29px;
        max-width: 290px;
    }

    .vision__article--txt {
        font-size: 1rem;
        line-height: 22px;
        max-width: 320px;
        margin-top: inherit;
    }

    .vision_picture {
        /* height: 180px; */
        width: 14rem;
        height: 28rem;
        background: url("../assets/images/page1_phone.png")center no-repeat;
        background-size: cover;
        transform: inherit;
        position: inherit;
        /* margin-top: 5rem; */
        position: absolute;
        left: 0;
        right: 0;
        /* top: 0; */
        bottom: 0;
        margin: auto;
    }

    .vision__glow {
        left: -.5rem;
        top: 0;
        position: absolute;
        border: 1px dotted white;
    }


}

/* End vision section */


/* #022 Verification css start */
.cookie-block2 {
    display: none;

}

.id_scaner {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 1000px 20px;
    grid-template-areas:
        "hero hero hero"
        "section1 section2 section3";
    justify-items: center;
}


.id_scaner__hero {
    grid-area: hero;
    height: 1000px;
    width: 100%;

    background-image:
        linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%),
        url('./../assets/images/louis-hansel-shotsoflouis-_6ZqQc02NYc-unsplash.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: contain;
}


.id_scaner__part1,
.id_scaner__part2,
.id_scaner__part3 {
    width: 21rem;
    /* height: 42rem; */
    height: 100vh;
    /*     border: 1px dotted rgb(198, 201, 48); */
    margin-top: -100vh;
}

.id_scaner__part1 {
    background: url('./../assets/images/id_scaner__part1.svg') 0 0/contain no-repeat;
    grid-area: section1;
    /* margin-right: -20rem; */
}

.id_scaner__part2 {
    background: url('./../assets/images/id_scaner__part2.svg') 0 0/contain no-repeat;
    grid-area: section2;

}

.id_scaner__part3 {
    grid-area: section3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: -110vh;

}

.id_scaner__part3--title {
    font-family: 'Montserrat';
    font-size: 3.2rem;
    max-width: 400px;

}

.id_scaner__part3--text {
    font-family: 'Noto Sans';
    font-size: 1.2rem;
    /* max-width: 22rem; */
    line-height: 24.52px;
    margin-top: 1.5rem;
}

@media (max-width: 700px) {
    .cookie-block2 {
        height: 93px;
        width: 100%;
        background-color: #212834;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        display: none;
    }

    .cookie-block__txt {
        margin: 0px 4rem 0px 1rem;
        font-size: 12px;
    }

    .cookie-block__btn {
        /* width: 192px; */
        height: 50px;
    }

    .id_scaner {
        grid-template-columns: 1fr;
        grid-template-rows: 300px auto auto 576px;
        grid-template-areas:
            "hero"
            "section1"
            "section2"
            "section3";
    }

    .id_scaner__hero {
        height: 300px;
    }

    .id_scaner__part1,
    .id_scaner__part2 {
        width: 287px;
        /* height: 42rem; */
        height: 576px;
        /* border: 1px dotted rgb(198, 201, 48); */
        margin-top: 3.8rem;
    }

    .id_scaner__part3 {
        width: 80%;
        height: 150px;
        margin-top: 0px;
        grid-area: section1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: 0;
        margin-top: -5rem;
    }

    .id_scaner__part3--title {
        font-family: 'Montserrat';
        font-size: 1.5rem;
        max-width: 400px;

    }

    .id_scaner__part3--text {
        font-family: 'Noto Sans';
        font-size: 1rem;
        /* max-width: 22rem; */
        line-height: 24.52px;
        margin-top: 0px;
    }

    .id_scaner__part1 {
        grid-area: section2;

    }

    .id_scaner__part2 {
        grid-area: section3;
    }
}

/* #022 Verification css End */

/* #031 bi collage css Start */
.bi__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
}

.bi__article {
    width: 495px;

}

.bi__article--head {
    width: 32rem;
    font-family: 'Montserrat';
    font-size: 3.2rem;
    /* border: 1px dotted rgb(198, 201, 48); */
}

.bi__article--text {
    font-family: 'Noto Sans';
    font-size: 1.2rem;
    max-width: 28rem;
    line-height: 24.52px;
    margin-top: 1.5rem;
}

.bi__collage {
    width: 707px;
    height: 525px;

    position: relative;
}

.bi__collage--img1,
.bi__collage--img2,
.bi__collage--img3,
.bi__collage--img4,
.bi__collage--img5,
.bi__collage--img6,
.bi__collage--img7 {
    position: absolute;

}

.bi__collage--img1 {
    width: 253px;
    height: 150px;
    top: 0;
    right: 135px;
    background: url('./../assets/images/bi_chart_white.png') 0 0/contain no-repeat;
}

.bi__collage--img2 {
    width: 233px;
    height: 44px;
    top: 170px;
    left: 126px;
    background: url('./../assets/images/bi_circle_blue.png') 0 0/contain no-repeat;
}

.bi__collage--img3 {
    width: 183px;
    height: 193px;
    bottom: 144px;
    right: 80px;
    z-index: -1;
    background: url('./../assets/images/bi_circle_big.png') 0 0/contain no-repeat;
}

.bi__collage--img4 {
    width: 193px;
    height: 120px;
    bottom: 106px;
    right: 255px;
    background: url('./../assets/images/bi_chart_blue_pic.png') 0 0/contain no-repeat;
}

.bi__collage--img5 {
    width: 193px;
    height: 117px;
    bottom: 155px;
    left: 0;
    background: url('./../assets/images/bi_chart_blue.png') 0 0/contain no-repeat;
}

.bi__collage--img6 {
    width: 193px;
    height: 117px;
    bottom: 5px;
    left: 182px;
    z-index: -1;
    background: url('./../assets/images/bi_zebra.png') 0 0/contain no-repeat;
}

.bi__collage--img7 {
    width: 281px;
    height: 56px;
    bottom: 0;
    right: 0;
    background: url('./../assets/images/bi_circle_round.png') 0 0/contain no-repeat;
}

@media (max-width: 700px) {

    .bi__wrap {
        /* display:flex; */
        flex-direction: column;
        /*         justify-content: space-evenly;
            align-items: center; */
    }

    .bi__article {
        width: 100%;
        padding: 20px;

    }

    .bi__article--head {
        width: 100%;
        font-size: 1.5rem;

    }

    .bi__article--text {
        font-family: 'Noto Sans';
        font-size: 1rem;
        max-width: 28rem;
        line-height: 24.52px;
        margin-top: 1.5rem;
    }

    .bi__collage {
        width: 100%;
        height: 17rem;
        margin-top: 20px;
    }

    .bi__collage--img1 {
        /* chart white */
        width: 33%;
        height: 30%;
        bottom: 10%;
        right: inherit;
        top: inherit;
        left: -2rem;
    }

    .bi__collage--img2 {
        width: 30%;
        height: 10%;
        top: 10%;
        left: 16%;
    }

    .bi__collage--img3 {
        /* Pila */
        width: 23%;
        height: 43%;
        bottom: inherit;
        right: 3%;
        z-index: -1;
    }

    .bi__collage--img4 {
        /* blue pic */
        width: 30%;
        height: 20%;
        bottom: 56%;
        right: 25%;
    }

    .bi__collage--img5 {
        display: none;
    }

    .bi__collage--img6 {
        /*zebra*/
        width: 25%;
        height: 25%;
        bottom: 28%;
        left: 25%;
    }

    .bi__collage--img7 {
        width: 70%;
        height: 30%;
        right: -5.8rem;
        bottom: -5%;
    }

}

/* #031 bi collage css End */

/* #041 ordershow css Start */
.ordershow__wrap {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 617px 200px;
    grid-template-areas:
        "hero hero hero"
        "article  phone1 phone2";
    justify-items: center;
    position: relative;
    margin-top: 180px;

}

.ordershow__hero1 {
    grid-area: hero;
    /*     height: 617px;
    width: 100%; */
    width: 100%;
    background-image:
        linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%),
        url(./../assets/images/marcela-laskoski-YrtFlrLo2DQ-unsplash.png),
        url(./../assets/images/ash-edmonds-fsI-_MRsic0-unsplash.png);
    background-repeat: no-repeat;
    background-position: 0 0, 0 0, right;
    background-size: 53% 100%, 53% 100%, 45% 100%;
}

.ordershow__article {
    width: 376px;
    grid-area: article;
    margin-top: -100px;

}

.r-media__item {
    width: 163px;
}


.ordershow__article--title {
    font-family: 'Montserrat';
    font-size: 3.2rem;
}

.ordershow__article--text {
    width: 315px;
    font-family: 'Noto Sans';
    font-size: 1.125rem;
    margin-top: 23px;
    margin-bottom: 58px;
}

.ordershow__phone1,
.ordershow__phone2 {
    width: 333px;
    height: 668px;
}

.ordershow__phone1 {
    grid-area: phone1;
    background: url('./../assets/images/041_phone1.png') 0 0/contain no-repeat;
    margin-top: -380px;
}

.ordershow__phone2 {
    grid-area: phone2;
    background: url('./../assets/images/041_phone2.png') 0 0/contain no-repeat;
    margin-top: -40px;
}

.ordershow__stick {
    position: absolute;
    right: 6%;
}

@media (max-width: 700px) {
    .ordershow__wrap {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "hand"
            "article"
            "glass"
            "phone1"
            "phone2";
        justify-items: center;
        position: inherit;
    }

    .ordershow__hero1 {
        width: 100%;
        height: 416px;
        grid-area: hand;
        background-image:
            linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 99.92%),
            url(./../assets/images/marcela-laskoski-YrtFlrLo2DQ-unsplash.png);
        background-repeat: no-repeat;
        background-position: 0 0, 0 0;
        background-size: auto auto, cover;
        position: inherit;
    }

    .ordershow__article {
        grid-area: article;
        width: 100%;
        margin-top: inherit;
        padding: 3rem;
    }

    .ordershow__article--title {
        font-family: 'Montserrat';
        font-size: 1.5rem;
        margin-top: -160px;
    }

    .ordershow__article--text {
        width: 100%;
        font-family: 'Noto Sans';
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .ordershow__article--apps-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
    }

    .r-media__item {
        width: 185px;
        align-self: center;
    }

    .ordershow__hero2 {
        grid-area: glass;
        /*    background: url('./../assets/images/ash-edmonds-fsI-_MRsic0-unsplash.png') right no-repeat;
       background-repeat: no-repeat;
        background-position: right right; */
        /* background-size:  contain; */
        background-image:
            url(./../assets/images/041_Nightlife.png),
            url(./../assets/images/ash-edmonds-fsI-_MRsic0-unsplash.png);
        background-repeat: no-repeat;
        background-position: 15% 40%, right;
        background-size: auto, contain;
        width: 100%;
        height: 297px;
        /* position: relative; */
    }

    .ordershow__stick {
        grid-area: glass;
        position: inherit;
        display: none;
    }

    .ordershow__phone1 {
        grid-area: phone1;
        margin-top: -7rem;
    }

    .ordershow__phone2 {
        grid-area: phone2;
        margin-top: 3rem;
    }
}

/* #041 ordershow css End */

/* #052 nota arrow css Start */
.nota__arrow {
    position: relative;
    margin-top: 20px;
    width: 100px;
    transform: rotate(var(--deg-arrow-all));
    -webkit-transform: rotate(var(--deg-arrow-all));
    -moz-transform: rotate(var(--deg-arrow-all));
    -ms-transform: rotate(var(--deg-arrow-all));
}

.nota__arrow--curve_wrap {
    position: relative;
    overflow: hidden;
    width: 100px;
}

.nota__arrow--curve {
    border: 1px solid var(--clr-arrow);
    border-color: var(--clr-arrow) transparent transparent var(--clr-arrow);
    width: 288px;
    height: 72px;

    border-radius: 40%/100px 0 0 0;
}

.nota__arrow--point {
    position: absolute;
    left: 0px;
    top: 80px;
}

.nota__arrow--point:before,
.nota__arrow--point:after {
    border: 1px solid var(--clr-arrow);
    height: 12px;
    content: "";
    position: absolute;
}

.nota__arrow--point:before {
    top: -17px;
    left: -3px;
    transform: rotate(var(--deg-arrow-before));
    -webkit-transform: rotate(var(--deg-arrow-before));
    -moz-transform: rotate(var(--deg-arrow-before));
    -ms-transform: rotate(var(--deg-arrow-before));
}

.nota__arrow--point:after {
    top: -18px;
    left: 2px;
    transform: rotate(var(--deg-arrow-after));
    -webkit-transform: rotate(var(--deg-arrow-after));
    -moz-transform: rotate(var(--deg-arrow-after));
    -ms-transform: rotate(var(--deg-arrow-after));
}

@media (max-width: 700px) {
    .nota__arrow {
        transform: rotate(var(--deg-arrow-all-mini));
        -webkit-transform: rotate(var(--deg-arrow-all-mini));
        -moz-transform: rotate(var(--deg-arrow-all-mini));
        -ms-transform: rotate(var(--deg-arrow-all-mini));
    }
}

/* #052 nota arrow css End */

/* #051 nota css Start */
.nota-section {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 350px;
}

.nota-bg-compose {
    width: 100%;
    height: 960px;
    position: relative;
}

.nota-bg-compose__gradient,
.nota-bg-compose__png-text,
.nota-bg-compose__phone {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.nota-bg-compose__gradient {
    width: 1022px;
    height: 952px;
    background-color: rgb(49, 39, 39);
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.15;
    filter: blur(311.569px);
    border-radius: 476.034px;
    transform: rotate(-0.55deg);
    z-index: -2;
}

.nota-bg-compose__png-text {
    width: 100%;
    height: 580px;
    background-image:
        url(./../assets/images/051_notab_l_t.png),
        url(./../assets/images/051_notab_l_b.png),
        url(./../assets/images/051_notab_r_t.png),
        url(./../assets/images/051_notab_r_b.png);
    background-repeat: no-repeat;
    background-position: left top, left bottom, right top, right bottom, right 256px, right 580px;
    background-size: auto 164px, auto 164px, auto 164px, auto 164px;
    z-index: -2;
}

.nota-bg-compose__phone1 {
    width: 23rem;
    height: 46rem;
    background: url(./../assets/images/051_phone.png);
    /* background-position: 0 0; */
    background-repeat: no-repeat;
    background-size: contain;

}

.nota-bg-compose__phone {
    /* width: 50rem; */
    /*     height: 60rem; */
    background: url(./../assets/images/051_phone.png);
    background-position: 50% 50%;
    background-size: 23rem 46rem;
    background-repeat: no-repeat;
    /*     background-size: contain; */

}

.nota__arrow {
    position: absolute;
    left: 63%;
    top: 33%;
    /*     right: 200px; */
}

.nota__arrow--text {
    position: absolute;
    left: 69%;
    top: 44%;
    font-family: 'Montserrat';
    font-size: 1.3rem;

}

/* QR notice */
.nota-qr-notice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.nota-qr-notice__title {
    width: 380px;
    font-family: 'Montserrat';
    font-size: 3.2rem;
    /* color: rgb(221, 18, 18); */
    /*  margin-right: -10rem; */
}

.nota-qr-notice__text {
    width: 17.3rem;
    font-family: 'Noto Sans';
    font-size: 1.125rem;
}

@media (max-width: 700px) {
    .nota-section {
        display: flex;
        flex-direction: column;
        margin-top: 137px;
    }

    .nota-bg-compose {
        height: 365px;
        margin-top: 73px;
    }

    .nota-bg-compose__gradient {
        width: 289px;
        height: 309px;
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        opacity: 0.15;
        filter: blur(93.3565px);
        border-radius: 142.636px;
        transform: rotate(-0.55deg);
    }

    .nota-bg-compose__png-text {
        height: 123px;
        background-image:
            url(./../assets/images/051_mini_notab_l_t.png),
            url(./../assets/images/051_mini_notab_l_b.png),
            url(./../assets/images/051_mini_notab_r_t.png),
            url(./../assets/images/051_mini_notab_r_b.png);
        background-size: auto 40px, auto 40px, auto 40px, auto 40px;
    }

    .nota-bg-compose__phone {
        background-size: 182px 365px;
    }

    .nota-qr-notice {
        display: flex;
        flex-direction: column;
        /* justify-content: left; */
        align-items: start;
        padding: 15px;
        /* overflow: hidden; */
    }

    .nota-qr-notice__title {
        width: 100%;
        font-size: 24px;
        line-height: 29px;
    }

    .nota-qr-notice__text {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        margin-top: 24px;
    }

    .nota__arrow {
        position: absolute;
        left: 67%;
        top: 80%;

    }

    .nota__arrow--text {
        position: absolute;
        left: inherit;
        top: inherit;
        bottom: -75px;
        right: 20%;
        font-size: 18px;
        line-height: 22px;
    }

}

/* #051 nota css End */

/* #062 lenta css Start */

.slogan-lenta {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 80px;
}

.slogan-lenta__wrap {
    width: 440px;
    /* height: 124px; */
    font-family: 'Montserrat';
    font-size: 3.2rem;
    line-height: 62px;
    margin-right: 11%;
}


.lenta__collage {
    width: 100%;
    height: 1038.21px;

    background-image:
        url(./../assets/images/061_iPhone_XS_LongscrollMockup1.png);
    background-position: 102px 0;
    background-repeat: no-repeat;
    background-size: 868px 1038px;
    position: relative;
}

.lenta__collage--gradient {
    position: absolute;
    width: 287px;
    height: 268px;
    right: -7.63%;

    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.2;
    filter: blur(250px);
    transform: rotate(5.78deg);
}

.lenta__remark {
    background: #000000;
    border: 0.76007px solid rgba(255, 255, 255, 0.5);
    border-radius: 18.2417px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22.8021px;
    line-height: 27px;

    position: absolute;
}

.lenta__remark--1 {
    width: 285px;
    height: 113px;
    padding: 30px 26px 29px 26px;

    left: 20%;
    top: 34%;
}

.lenta__remark--2 {
    width: 266.78px;
    height: 98.81px;
    padding: 23px 20px 21.81px 22px;

    left: 55%;
    top: 20%;
}

.lenta__remark--3 {
    width: 175.58px;
    height: 65.37px;
    padding: 19px 12px 18px 22px;

    left: 35%;
    top: 70%;
}

.lenta__remark--4 {
    width: 185px;
    height: 91px;
    font-weight: 700;
    padding: 19px 24px 18px 23px;

    left: 70%;
    top: 60%;
}

@media (max-width: 700px) {
    .slogan-lenta {
        justify-content: start;
        margin-top: 220px;
    }

    .slogan-lenta__wrap {
        width: 100%;
        font-size: 1.5rem;
        line-height: 29px;
        margin-right: inherit;
        margin-left: 29px;
    }

    .slogan-lenta--head {
        width: 198px;
        height: 58px;
        font-size: 1.5rem;
    }

    .slogan-lenta--text {
        font-size: 1rem;
        line-height: 22px;
    }

    .lenta__collage {
        height: 600px;
        background-position: -7px 100px;
        background-size: 360px 430px;
        margin-top: 8rem;
    }

    .lenta__collage--gradient {
        right: -46.35%;
    }

    .lenta__remark {
        border-radius: 10px;

        font-size: 14px;
        line-height: 16px;
    }

    .lenta__remark--1 {
        width: 170px;
        height: 57px;
        padding: 13px 12px 14px 15px;

        left: 10%;
        top: 0;
    }

    .lenta__remark--2 {
        width: 176px;
        height: 62px;
        padding: 15px 17px 15px 18px;

        left: 50%;
        top: 21%;
    }

    .lenta__remark--3 {
        width: 110px;
        height: 43px;
        padding: 13px 15px 13px 15px;

        left: 8%;
        top: 78%;
    }

    .lenta__remark--4 {
        width: 125px;
        height: 58px;
        padding: 13px 18px 13px 18px;

        left: 64%;
        top: inherit;
        bottom: 0;
    }
}

/* #062 lenta css End */


/* #071 css bcollage Start */

.black_collage {
    height: 1106px;
    background-image:
        url(./../assets/images/071a_bcg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2099px 1106px;

    position: relative;
}

.black_collage__mockup {
    width: 859px;
    height: 429px;

    background-image:
        url(./../assets/images/071b_iPhone_X_image.png),
        url(./../assets/images/071b_internal.png);
    ;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 859px 429px, 675px 378px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.glow_gradient {
    width: 250px;
    height: 250px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(250px);
    transform: rotate(5.78deg);

    margin-top: -5%;
    margin-left: 23%;
}

.stick_get {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;

    margin-top: -10%;
}

.stick_get__tittle {
    font-family: 'Montserrat';
    font-size: 3.2rem;
    margin-bottom: 23px;
}

.stick_get__text {
    width: 530px;
    height: 50px;
    font-family: 'Noto Sans';
    font-size: 1.2rem;
    line-height: 25px;
    text-align: center;
}

@media (max-width: 700px) {
    .black_collage {
        display: none;
    }

    .glow_gradient {

        margin-top: -5%;
        margin-left: -20%;
    }

    .stick_get {

        margin-top: -10%;
    }

    .stick_get__tittle {
        font-family: 'Montserrat';
        font-size: 1.5rem;
        margin-bottom: 23px;
    }

    .stick_get__text {
        width: 324px;
        height: 66px;
        font-family: 'Noto Sans';
        font-size: 1rem;
        line-height: 22px;
        text-align: center;
    }
}

/* #071 css bcollage End */

/* #081 Form css Start */

.form__wrap {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: center;
    align-items: center;

    margin-top: 82px;
    position: relative;
}

.form__query {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: repeat(5, 83px) 200px;
    grid-column-gap: 24px;
    grid-row-gap: 23px;

    margin-top: 82px;
}

input {
    padding-left: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.form_item {
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    border-radius: 10px;
    border: 1px dotted white;
}

.form_item_warning {
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    border-radius: 10px;
    border: 2px solid #FF0000;
}

.form__query--name {
    grid-column: 1/-1;
    grid-row: 1 / 2;
}

.form__query--v-name {
    grid-column: 1/-1;
    grid-row: 2 / 3;
}

.form__query--v-city {
    grid-column: 1/2;
    grid-row: 3 / 4;
}

.form__query--st-city {
    grid-column: 2/3;
    grid-row: 3 / 4;
}

.form__query--email {
    grid-column: 1/-1;
    grid-row: 4 / 5;
}

.form__query--subject {
    grid-column: 1/-1;
    grid-row: 5 / 6;
}

.form__query--message {
    grid-column: 1/-1;
    grid-row: 6 / 7;
}

.form__query--btn_wrap {
    width: 823px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.form__query--btn {
    width: 398px;
    height: 80px;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 29px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: white;
    left: 330px;
    z-index: 1;
}

.form__query--btn:hover {
    cursor: pointer;
    opacity: .7;
}

.form__glow {
    width: 337px;
    height: 342px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(250px);
    transform: rotate(5.78deg);

    position: absolute;
    right: -10%;
}

/* apps composition */
.apps__wrap {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-top: 91px;
    /* overflow: hidden; */
}

.apps__title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.apps__compose {
    width: 611px;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-self: center; */
    align-items: center;

    margin-top: 33px;
}

.apps__compose--item {
    width: 260px;
    height: 82px;
    border-color: #fff;
    border: solid 2px;
    border-radius: 6px;
    padding: 8px;
}

.apps__compose--item:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .form__query {
        display: grid;
        grid-template-columns: 345px;
        grid-template-rows: repeat(6, 57px) 140px;
        /* grid-column-gap: inherit; */
        grid-row-gap: 16px;

        margin-top: 82px;
    }

    .form__query--v-city {
        grid-column: 1/-1;
        grid-row: 3 / 4;
    }

    .form__query--st-city {
        grid-column: 1/-1;
        grid-row: 4 / 5;
    }

    .form__query--email {
        grid-column: 1/-1;
        grid-row: 5 / 6;
    }

    .form__query--subject {
        grid-column: 1/-1;
        grid-row: 6 / 7;
    }

    .form__query--message {
        grid-column: 1/-1;
        grid-row: 7 / 8;
    }

    .form__query--btn {
        width: 345px;
        height: 80px;
    }

    .form__query--btn_wrap {
        width: 345px;
    }

    .form__glow {
        right: -10%;
        bottom: -20%;
    }

    /* apps composition */
    .apps__wrap {
        margin-top: 74px;
    }

    .apps__compose {
        width: 185px;
        height: 60px;
        flex-direction: column;
        justify-content: space-around;
        margin-top: inherit;
    }

    /*     .apps__title {
        margin-bottom: 45px;
    } */

    .apps__compose--item {
        margin: 12px;
    }
}

/* Footer */
.b_info__wrap {
    margin-top: 155px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding: 100px;

    position: relative;
}

.b_info__block1 {
    /* margin-left: 100px; */
    font-family: 'Avenir';
}

.b_info__block1--title {
    width: 81px;
    height: 16px;
    background: url(../assets/images/081_footer_title.svg) center no-repeat;
    ;
}

.b_info__block1--mail {
    width: 171px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

.b_info__block1--copiright {
    width: 148px;
    height: 25px;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 25px;
}

.b_info__block2 {
    font-family: 'Avenir';
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 25px;
}

.b_info__block2--terms {
    width: 148px;
    height: 25px;
}

.b_info__block2--policy {
    width: 120px;
    height: 25px;
    margin-top: 25px;
}

.b_info__gradient {
    width: 406px;
    height: 411px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.3;
    filter: blur(250px);
    transform: rotate(5.78deg);
    position: absolute;
    left: -2%;
    bottom: -8%;
}

@media (max-width: 700px) {
    .b_info__wrap {
        margin-top: 155px;

        flex-direction: column-reverse;
        justify-content: center;
        padding: inherit;
    }

    .b_info__block1 {
        margin-top: 58px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    .b_info__block1--mail {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 9px;
    }

    .b_info__block2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    .b_info__block2--terms,
    .b_info__block2--policy {
        width: 100%;
    }

    .b_info__gradient {
        width: 225px;
        height: 228px;
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        opacity: 0.3;
        filter: blur(138.347px);
        transform: rotate(5.78deg);
        position: absolute;
        left: -20%;
        bottom: -20%;
    }

}

/* #081 Form css End */