*,
*::before,
*::after {
    box-sizing: border-box;

}

:root {
    --frame-width: 300px;
    --frame-height: 200px;
    --slider-width-gap: 310px;
    --color-first: #555555;
    --color-second: #afafaf;
}
.head {
    color: var(--color-first);
    text-align: center;
}
.slider_main {
    width: calc(var(--frame-width) + 2*50px);
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.cl_slider {
    width: var(--frame-width);
    height: var(--frame-height);
    background-color: white;
    position: relative;
    margin: auto;
    overflow: hidden;
    z-index: -100;
}

.slide_item {
    position: absolute;
    width: var(--frame-width);
    height: var(--frame-height);
    /* background-image: url('img/background/bg.jpg'); */
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* flex: 3; */
}

.nav__pointer {
    width: 300px;
    display: flex;
    justify-content:space-between;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.point {
    width: 8px;
    height: 8px;
    border: 1px solid gray;
    border-radius: 50%;
}
.point:hover {
    background-color: var(--color-second);
    cursor: pointer;
}

.point--active {
    background-color: var(--color-first);
}
/* ================================== */

.btn_run {
    margin-top: 100px;
}

 .cl_btn_back, .cl_btn_forward {
    cursor: pointer;
 }

.cl_btn_back {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 20px solid var(--color-first);
    border-left: 0;
}
.cl_btn_back:hover {
    border-right: 20px solid var(--color-second);
}

.cl_btn_forward {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 20px solid var(--color-first);
    border-right: 0;
}
.cl_btn_forward:hover {
    border-left: 20px solid var(--color-second);
}